/* /* #box {
    background-color: blue;

}

.heading {
    color: red;
}

.button2 {
    color: blue;
}

.body {
    background-color: yellow;
}

/* p {
    text-align: center;
} */


/* #krishna {
    text-decoration: underline;
} */

/* <!-- text properties - Font Weight----- --> */
/* #h1 {
    font-weight: normal;
}


#h2 {
    font-weight: bold;
} */

/* 
#h3 {
    font-weight: 100;
}


#h4 {
    font-weight: 900;
}

/* -----------------font family----------- */

/* #font1 {
    font-family: 'Courier New', Courier, monospace;
} */

/* #font2 { */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#font3 {
    font-family: Arial, Helvetica, sans-serif;

}

#krishnacap{
    text-transform : uppercase ;
    text-align : center ;
}

#div1 {
    font-size : 25px;
}

#div2 {
    font-size : 10px ;
}

p {
    height: 100px ;
}   */


* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;

}

#div {
    background-color: black;
    height: 60px;
}

#amazon1 {
    color: orangered;
    font-size: 30px;
    margin-right: 30%;
}

.amazon {
    margin-left: 10%;


}

input {
     margin-left: 10%;
}

button{
    background-color: orangered;
}

